*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    font-size: 22px;
    
}
.container{
    position: relative;
}

img{
    margin: 8px ;
}

.panel{
    height: 40px;
    width: 100%;
    background-color: rgb(88, 83, 83);
    /* padding: 12px; */
    z-index: 1;
}

#farmost{
    margin-right: 40px;
}


.sidebar{
    width: 15%;
    height: 100vh;
    background-color: rgb(125, 175, 192);
    z-index: 20;
    position: absolute;
}
.social{
    top: 5%;
    position: relative;
}

.wtext{
	/* margin-top: 500x; */
	position: relative;
    margin-right: 500px;
    float:right;
    top: 125px;
    z-index: 5;
    
}

.cont{
padding: 2px;
height: 575px;
width: 84%;
background-color: rgb(255, 255, 255);
position: absolute;
top: 50px;
right: 2px;
display: flex;
align-items: center;
justify-content: center;
}

.box{
    height: 150px;
    width: 150px;
    background-color: #777672;
    border-radius: 3px;
    text-align: center;
    padding:  auto;
    /* align-items: center; */
    /* justify-content: center; */
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.box:hover{
    /* border: 5px solid black ; */
    /* box-shadow: 10px 10px 5px grey; */
    box-shadow: 5px 5px 6px grey;
    
}
h3{
    margin-top: 55px;
    color: blanchedalmond;
}

.cursor{
    background-color: black;
    width: 0px;
	font-size: 18px;   
    animation: blink 1s infinite;
}

@keyframes blink {
	0%{background-color: black;}
    49%{background-color: black;}
    50%{background-color: transparent;}
    99%{background-color: transparent;}	
    100%{background-color: black;}

}
.const{
	position: absolute;
    /* bottom: 50px; */
    top: 590px;
	right: 350px;    

}